body {
  margin: 0;
  height: 100vh;
  background-color: #99bda3;
}

#app {
  height: 100%;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 10% auto 10%;
  grid-template-areas: 
    "content content"
    "content content"
    "content content"
    "content content";
}

#content {
  grid-area: content;
  display: flex;
  flex-flow: wrap;
}

.block {
  min-width: 10%;
  height: 90%;
  border: 1px solid rgb(109, 46, 134);
  border-radius: 15px;
  padding: 20px;
  margin: 36px;
  flex: 1;
}

.container {
  min-width: 40%;
  height: 90%;
  border: 1px solid rgb(109, 46, 134);
  border-radius: 15px;
  padding: 20px;
  margin: 36px;
  flex: 1;
}

.null {
  min-width: 40%;
  height: 90%; 
  padding: 20px;
  margin: 36px;
  flex: 1;
}

img{
  width: 105%;
}

