body {
  margin: 0;
  height: 100vh;
  background: url("@/assets/sm.png") no-repeat #99BDA3 ;

}

#app {
  height: 100%;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 10% auto 10%;
  grid-template-areas: 
    "content content"
    "content content"
    "content content"
    "content content";
}

#header, #content, #sidenav, #footer {
  border: 1px solid green;
}


#content {
  grid-area: content;
  display: flex;
  flex-flow: wrap;
}


.block {
  min-width: 40%;
  height: 90%;
  border: 1px solid rgb(109, 46, 134);
  border-radius: 15px;
  padding: 20px;
  margin: 36px;
  flex: 1;
}

